/* @import "/public/styles/login.css";
@import "/public/styles/footer.css";
*/
/*Nav*/
@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
/*title-main*/
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
@import url("https://fonts.googleapis.com/css?family=Anonymous+Pro");
/*intro*/
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@1,300&display=swap");
/*btn*/
@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Crimson+Pro:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FBFBFB;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

/*========================================================================================================================/
/=========================================================================================================================/
/========================================================================================================================*/
#nav {
  position: relative;
  height: 7vh;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100;
}

#nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav ul li {
  list-style: none;
  -webkit-transition: ease 300ms;
  transition: ease 300ms;
}

#nav ul li a {
  text-decoration: none;
  color: #FFF;
}

#nav ul li:hover {
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transition: ease 300ms;
  transition: ease 300ms;
}

.toggle {
  display: none;
}

#bg-presentation {
  position: relative;
  width: 100%;
  height: 100vh;
}

#bg-presentation .bg-res {
  display: none;
}

#bg-presentation .bg-not {
  position: relative;
  width: 100%;
  background-size: auto;
  height: 100vh;
}

#bg-presentation .line-1 {
  position: relative;
  top: -55%;
  width: 6em;
  margin: 0 auto;
  border-right: 2px solid rgba(0, 0, 0, 0.75);
  font-size: 370%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  font-family: 'Satisfy', cursive;
}

#bg-presentation .anim-typewriter {
  width: 0;
}

#bg-presentation .btn-redirect {
  position: relative;
  top: -50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

#bg-presentation .btn-redirect p {
  margin-bottom: 20px;
  font-family: 'Crimson Pro', serif;
  font-size: 2rem;
}

#bg-presentation .btn-redirect .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#bg-presentation .btn-redirect .btn {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: #fafafa00;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  margin: 10px 30px 0 30px;
}

#bg-presentation .btn-redirect .btn a {
  text-decoration: none;
  font-family: 'Arvo', serif;
  font-size: 1.3rem;
}

#bg-presentation .btn-redirect .log {
  border-bottom: 2px solid #015f01;
}

#bg-presentation .btn-redirect .log a {
  color: #015f01;
}

#bg-presentation .btn-redirect .reg {
  border-bottom: 2px solid #5f014b;
}

#bg-presentation .btn-redirect .reg a {
  color: #5f014b;
}

#bg-presentation .btn-redirect .btn:active {
  border-radius: 15px;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

#footer {
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 30px 0;
  background-color: rgba(0, 0, 0, 0.637);
  text-align: center;
}

#footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer ul li {
  list-style: none;
  margin: 10px 15px;
}

#footer ul li a {
  text-decoration: none;
  color: #ffffff;
}

/*========================================================================================================================/
/=========================================================================================================================/
/========================================================================================================================*/
@media screen and (max-width: 768px) {
  #nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7582);
    -webkit-transition: cubic-bezier(0, 1.21, 0.85, 0.47) 1400ms;
    transition: cubic-bezier(0, 1.21, 0.85, 0.47) 1400ms;
    z-index: 100;
  }
  #nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  #nav ul li {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #FFF;
  }
  .toggle {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #b6b6b6f5;
    border-radius: 10px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 200;
  }
  .toggle .active {
    background: #7a7a7a4d;
    color: #000;
  }
  .toggle ion-icon {
    position: absolute;
    color: #F3F3F3;
    font-size: 34px;
    display: none;
  }
  ion-icon.open,
  .active ion-icon.close {
    display: none;
  }
  .active ion-icon.open,
  ion-icon.close {
    display: block;
  }
  .show {
    -webkit-transform: translatey(-1400px);
            transform: translatey(-1400px);
    -webkit-transition: cubic-bezier(0, 1.21, 0.85, 0.47) 1400ms;
    transition: cubic-bezier(0, 1.21, 0.85, 0.47) 1400ms;
    z-index: 50;
  }
  #bg-presentation .bg-not {
    display: none;
  }
  #bg-presentation .bg-res {
    display: block;
    position: relative;
    width: 100%;
    background-size: auto;
    height: 100vh;
  }
  #bg-presentation .line-1 {
    font-size: 230%;
  }
  #bg-presentation .btn-redirect p {
    font-size: 1.1rem;
  }
  #bg-presentation .btn-redirect .btn a {
    font-size: 0.85rem;
  }
  #bg-presentation .btn-redirect .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=main.css.map */